
nav {
    margin: 200px;
    text-decoration: none;
    background-color: rgb(236, 216, 219);
    padding: 50px 0;
    border-radius: 20px;

ul {

    display: flex;
    flex-direction: row; 
    justify-content: center;
 
li {
 
    text-decoration: none;
    list-style: none;
    margin: 10px;

    a {

        text-decoration: none;
        color: black;
        font-size: 50px;
        padding: 20px;
       
    }
}

}

}